@use "./base.scss";

// Index page: large centered graph
body[data-slug="index"] {
  // hide the sidebar graph on the home page
  .right.sidebar .graph {
    display: none;
  }

  // full-width graph in afterBody
  .page-footer .graph > .graph-outer {
    height: 100vh !important;
    max-height: none !important;
    border: 1px solid var(--lightgray);
    border-radius: 8px;

    > .graph-container {
      height: 100% !important;
    }
  }
}
